.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-label {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  color: #260101;
}

.dropdown-label:hover {
  color: black;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-container::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
